/* staples.css */

body{
    background-color: #cdcfc0;
    color: #423f32;
}


div.STAPLES{
    background-color: #f1ebe5;
    border-radius: 12px;

    text-align: center;
    font-size: 22px;

    width: 30%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10vh;
 
}

div.FLEX{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    width: 25%;
    
}


ul.RotisserieChicken,
ul.JasmineRice,
ul.SourdoughBread{

    list-style-type: none;

    /*background-color:#50593d;*/

}


